.preview-search
  width 100%
  .search-box
    width calc(100% - 120px)
    height 100%
    padding 5px 0px
    border none
    outline: none
  .icon
    width 40px
    display inline-flex
    align-items center
    justify-content center
    border none
    outline none
    background none
